* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: var(--small-ft);
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    --card-ft: 14px;
    --small-ft: 14px;
    --medium-ft: 18px;
    --large-ft: 30px;
    --card-width: 70px;
    --card-height: 107px;
    --wrong-color: #FF5757;
    --player-a-color: #3B7C5A;
    --player-b-color: #353380;
}

#root {
    width: 100%;
    white-space: pre-wrap;
}

body {
    background: #f9f9f7;
    min-height: 100vh;
    padding: 1.5em 1.2em;
    display: flex;
    align-items: center;
}

button {
    padding: 0.2em 1em;
    border-radius: 5px;
}

input, button {
    font-size: 0.9em;
}

h1 {
    font-size: var(--large-ft);
}

/* intro and end page */

.intro-container, .end-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    text-align: center;
    min-height: 100vh;
    padding-top: 1em;
}


.intro-container input {
    width: 8ch;
    padding: 0.05em 0.25em;
    box-sizing: content-box;
    margin-bottom: 1.5em;
    margin-top: 0.5em;
}

.intro-container input:first-of-type {
    margin-right: 1em;
}

.intro-container button {
    width: fit-content;
}

.rules {
    max-width: 65ch;
}

.end-container button:first-of-type {
    margin-right: 2em;
}

/* game page */

.board {
    align-self: center;
    box-sizing: content-box;
    max-width: 800px;
    margin: auto auto;
    display: grid;
    row-gap:  calc(var(--card-height)/2);
    column-gap: calc(var(--card-width)*2/5);
    
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, var(--card-height));
    grid-template-areas: "exit a score-a"
                        "mistake pile pile-text"
                        ". b score-b";
}

.deck {
    border: 1px solid black;
    border-radius: 5px;
    font-size: var(--card-ft);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--card-width);
    height: var(--card-height);
}

.deck.empty {
    border-style: dashed;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deck.a {
    grid-area: a;
}

.deck.b {
    grid-area: b;
}

.deck.pile {
    grid-area: pile;
    font-size: var(--large-ft);
}

.deck.mistake {
    grid-area: mistake;
}

.deck.wrong {
    border: 4px solid var(--wrong-color);
}

.deck.wrong.mistake {
    font-weight: bold;
}

.deck.winner-a {
    border: 4px solid var(--player-a-color);
}

.deck.winner-b {
    border: 4px solid var(--player-b-color);
}
.score-a {
    grid-area: score-a;
}

.score-b {
    grid-area: score-b;
}

.pile-text {
    grid-area: pile-text;
    text-align: center;
    line-height: 1.2;
}

.pile-text > p:first-child {
    margin-bottom: 0.5em;
    font-weight: medium;
    font-size: var(--medium-ft);
}

.exit {
    grid-area: exit;
}


/* media queries */

@media (min-width: 700px){
    #root {
        --small-ft: 20px;
        --medium-ft: 24px;
    }
}

@media (min-width: 700px) and (min-height: 672px ) {
    #root {
        --card-width: 100px;
        --card-height: 153px;
        --card-ft: 17px;
        --large-ft: 40px;
    }

    .intro-container {
        padding-top: 1.5em;
    }
}

@media (min-width: 1000px) {
    #root {
        --small-ft: 22px;
        --medium-ft: 26px;
    }
}

@media (min-width: 1000px) and (min-height: 779px ) {
    #root {
        --large-ft: 45px;
        --card-width: 115px;
        --card-height: 176px;
        --card-ft: 18px;
    }
}

